<section class="container-login">
    <div class="left-part">
        <h2>Bem vindo(a)!</h2>
        <div class="sign-up-button">
            <p>JÁ POSSUÍ CADASTRO?</p>
            <button [routerLink]="(['/login'])">Fazer login</button>
        </div>
    </div>
    <div class="right-part">
        <h2>Crie sua conta</h2>
        <div class="container-login-form">
            <form class="form-auth" (ngSubmit)="onSubmit()">
                <div class="form-group field">
                    <input name="username" type="username" class="form-field" placeholder="Ex: Joao123" required [(ngModel)]="request.name">
                    <label for="username" class="form-label">Username</label>
                </div>

                <div class="form-group field">
                    <input name="email" type="email" class="form-field" placeholder="Ex: mail@email.com" required [(ngModel)]="request.email">
                    <label for="email" class="form-label">Email</label>
                </div>

                <div class="form-group field">
                    <input name="password" type="password" class="form-field" placeholder="Ex: Senha123!" required [(ngModel)]="request.password">
                    <label for="password" class="form-label">Senha</label>
                </div>

                <div class="div-button">
                    <button>Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</section>