.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 8px;
}

input {
  width: 75%;
  background-color: var(--cor-de-fundo-tasks-inputs);
  color: #242424;
  padding: 0.5rem;
  min-height: 40px;
  outline: none;
  border: none;
  line-height: 1.5;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
}

input:focus {
  border-bottom: 2px solid #3b3faa;
  box-shadow: 0px 4px 12px rgba(59, 63, 170, 0.3);
}

input:hover {
  background-color: #d3d5df;
}

.custom-select {
  width: 20%;
  position: relative;
}

select {
  width: 100%;
  background-color: var(--cor-de-fundo-tasks-inputs);
  color: #242424;
  padding: 0.5rem;
  min-height: 40px;
  outline: none;
  border: none;
  line-height: 1.5;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 15px;
  padding-top: 10px;
}

i {
  position: absolute;
  top: 55%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  color: #242424;
}

select:focus {
  border-bottom: 2px solid #3b3faa;
  box-shadow: 0px 4px 12px rgba(59, 63, 170, 0.3);
}

.container-todo {
  background-color: var(--cor-fundo-secundaria);
  position: relative;
  width: 600px;
  min-height: 580px;
  border-radius: 8px;
  padding: 20px 50px;
  box-shadow: 0px 0px 36px -3px rgba(0, 0, 0, 0.447);
  margin-top: 25px;
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container-todo::-webkit-scrollbar {
  display: none;
}