<h1>Login</h1>
<div class="container-form">
  <form class="example-form" (ngSubmit)="onSubmit($event)">
    <mat-form-field class="example-full-width" hideRequiredMarker="true">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ex. mail@email.com"
        #emailInput (input)="getEmailInput(emailInput.value)">
      @if (emailFormControl.hasError('required')) {
      <mat-error>O email é <strong>obrigatório</strong></mat-error> }
      @if (emailFormControl.hasError('email')) {
      <mat-error>Digite um email válido</mat-error> }
    </mat-form-field>

    <mat-form-field class="example-full-width" hideRequiredMarker="true">
      <mat-label>Senha</mat-label>
      <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher" placeholder="Ex. Senha123!"
        #passwordInput (input)="getPasswordInput(passwordInput.value)">
      @if (passwordFormControl.hasError('required')) {
      <mat-error>A senha é <strong>obrigatória</strong></mat-error> }
    </mat-form-field>

    <div class="btn">
      <button>Login</button>
    </div>
  </form>

</div>
<div class="register">
    <a>Ainda não tem uma conta?</a>
    <a class="click-to-register" [routerLink]="['/register']">CLIQUE AQUI PARA SE REGISTRAR</a>
</div>