<h1>Registrar</h1>
<div class="container-form">
    <form class="example-form" (ngSubmit)="onSubmit($event)">
        <mat-form-field class="example-full-width" hideRequiredMarker="true">
            <mat-label>username</mat-label>
            <input type="username" matInput [formControl]="usernameFormControl" [errorStateMatcher]="matcher" placeholder="Ex. joao123" #usernameInput (input)="saveInputName(usernameInput.value)">
            @if (usernameFormControl.hasError('required')) { <mat-error>O username é <strong>obrigatório</strong></mat-error> }
            @if (usernameFormControl.hasError('username')) { <mat-error>Digite um username válido</mat-error> }
          </mat-form-field>
      
          <mat-form-field class="example-full-width" hideRequiredMarker="true">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ex. mail@email.com" #emailInput (input)="saveInputEmail(emailInput.value)">
            @if (emailFormControl.hasError('required')) {
            <mat-error>O email é <strong>obrigatório</strong></mat-error> }
            @if (emailFormControl.hasError('email')) {
            <mat-error>Digite um email válido</mat-error> }
          </mat-form-field>

          <mat-form-field class="example-full-width" hideRequiredMarker="true">
            <mat-label>Senha</mat-label>
            <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher" placeholder="Ex. Senha123!" #passwordInput (input)="saveInputPassword(passwordInput.value)">
            @if (passwordFormControl.hasError('required')) { <mat-error>A senha é <strong>obrigatória</strong></mat-error> }
          </mat-form-field>

        <div class="btn">
            <button> Cadastrar </button>
        </div>
    </form>
</div>
<div class="register">
    <a [routerLink]="['/login']">JÁ TENHO UMA CONTA</a>
</div>