h1 {
  text-align: center;
  font-size: 36px;
  color: #fff;
  padding-bottom: 30px;
  font-family: var(--jetbrains);
  font-weight: 700;
}

.container-form {
  width: 500px;
  height: auto;
  background-color: var(--cor-fundo-tela-login);
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 36px -3px rgba(0, 0, 0, 0.447);
}

.example-form {
  min-width: 150px;
  max-width: 500px;
}

.example-full-width {
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #234cac, #224996);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 4em;
  cursor: pointer;
  font-family: var(--jetbrains);
  transition: all ease .3s;
}

button:hover {
  background-position: right center;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

button:active {
  background-image: linear-gradient(30deg, #1e3e89, rgb(27, 58, 120));
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--roboto);
  margin-top: 40px;
  color: #9799ab;
  text-decoration: none;
  margin-bottom: 10px;
}

a:visited {
  color: inherit; /* Mantém a cor padrão mesmo após clicar */
}

a:hover {
  color: #8b8ea0;
}

a:active {
  color: #727688;
}