.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    word-break: break-word; /* Quebra palavras longas */
    overflow-wrap: break-word; /* Garante a quebra de texto */
}

.todo-item {
    width: 100%;
    min-height: 80px;
    height: auto;
    list-style-type: none;
    padding: .1em .5em;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.261);
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 10px;
}

.todo-item.done {
    background-color: var(--cor-fundo-task-done);
}

.todo {
    background-color: var(--cor-de-fundo-tasks-inputs);
}

.done {
    text-decoration: line-through;
    font-style: italic;
}

h2 {
    font-family: var(--montserrat);
    font-size: 20px;
    letter-spacing: -1.5px;
    font-weight: 700;
}

p {
    font-family: var(--roboto);
    font-size: 15px;
}

.btns {
    display: flex;
    align-items: center;
    gap: 8px;
}

button {
    font-size: 28px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(34, 87, 143);
    transition: all ease-in .1s;
}

button:hover {
    color: rgb(1, 1, 49);
}